<svg width="480" height="2000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <foreignObject width="480" height="2000">
      <div xmlns="http://www.w3.org/1999/xhtml" class="container">
          <style>
              div {
                  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
              }
              .main {
                  display: flex;
                  background-color: #282C34;
                  padding: 10px 10px 10px 5px;
                  border-radius: 5px;
              }
              .container {
                  border-radius: 5px;
                  padding: 10px 10px 10px 0px;
              }
              .playing {
                  font-weight: bold;
                  color: #53b14f;
                  text-align: center;
                  display: flex;
                  justify-content: center;
                  align-items: center;
              }
              .not-play {
                  color: #ff1616;
              }
              .art {
                  float: left;
                  width: 27%;
                  margin-left: -5px;
              }
              .text {
                  width: 71%;
              }
              .description {
                  font-size: 24px;
                  color: #C6A86F;
                  font-weight: bold;
                  text-align: center;
                  margin-top: 3px;
              }
              .title {
                  font-size: 20px;
                  color: #D66A71;
                  text-align: center;
                  margin-bottom: 5px;
              }
              .logo {
                  margin-left: 5px;
                  margin-top: 5px;
              }
              .cover {
                  border-radius: 5px;
                  height: 100px;
                  width: 100px;
              }
              @keyframes sound {
                  0% {
                      opacity: .35;
                      height: 3px;
                  }
                  100% {
                      opacity: 1;
                      height: 15px;
                  }
              }
          </style>

        {%for post in posts%}
          <div class="main">
            <a class="art" href="" target="_BLANK">
                <center>
                        <img src="{{post.image}}" class="cover" />
                </center>
            </a>

            <div class="text">
                <div class="title">{{post.title}}</div>
                <div class="description">{{post.description}}</div>
            </div>

          </div>
        {%endfor%}

      </div>
  </foreignObject>
</svg>